.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
h1{
  color: white;
}
.list{
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1.5rem;
  background: white;
  min-width: 320px;
  max-width:600px;
}
.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item span{
  font-size: 10px;
  color: rgba(133, 133, 133, 0.926);

}
